ul{
		margin:0;
		padding:0;
		overflow:hidden;
		text-align:center;
		background-color:#86c7e3;
		}
		
		li{
		display:inline;
		color:white;
		padding:10px;
		text-decoration:none;
		}
		
		h1{
		text-align:center;
		color:#86c7e3;
		}
		
		img{
		padding:30px 10px 0px 10px;
		}
		table {
			margin-left: auto;
			margin-right: auto;
		}
